# ===== IDE (PyCharm / IntelliJ) =====
.idea/
*.iml

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Wygenerowane pliki HTML (mapy, raporty) =====
*.html

# ===== Systemowe śmieci =====
.DS_Store
Thumbs.db
